{% load static %}

<!DOCTYPE html>
<html>
<head>
<title>Scientist A medical Category Flat Bootstrap Responsive Website Template | Home :: w3layouts</title>
<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<!-- Custom Theme files -->
<!--theme-style-->
<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all" />	
<!--//theme-style-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Scientist Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
</head>
<body>
<!--header-->
{% block content %} {% endblock content %}
<!--footer-->
<div class="footer">
	<div class="container">
		<div class="col-md-4 footer-top">
			<h3><a href="index.html">Courant du Futur</a></h3>
		</div>
		<div class="col-md-4 footer-top1">
			<ul class="social">
						<li><a href="#"><i> </i></a></li>
						<li><a href="#"><i class="dribble"> </i></a></li>
						<li><a href="https://www.facebook.com/courantturfu216/posts/111394237447410/"><i class="facebook"> </i></a></li>
					</ul>
		</div>
		<div class="col-md-4 footer-top2">
			<p >© 2021 Courant Du Futur. All rights reserved | Design by <a href="https://www.facebook.com/courantturfu216/posts/111394237447410/" target="_blank">CDF</a> </p>
		</div>
		<div class="clearfix"> </div>
	</div>
</div>
</body>
</html>