{% extends 'plateform/base.html' %}
{% load static %}

{% block content %}
<center><h1 id="h1-bootstrap-heading">List of your EDF Files<a class="anchorjs-link" href="#h1.-bootstrap-heading"><span class="anchorjs-icon"></span></a></h1></center>

<div class="content">
	<div class="container">
        <p>
            <a href="{% url 'expert' %}" class="btn btn-lg btn-primary">Upload EDF File</a>
        </p>
        <table class="table mb-0">
            <thead>
                <tr>
                    <td>Patient</td>
                    <td>Doctor</td>
                    <td>Download</td>
                    <td>Decision</td>
                    <td>Analyse</td>
                    <td>Delete</td>
                </tr>
            </thead>
            <tbody>
                {% for edf in Edfs %}
                <tr>
                    <td>{{ edf.patient }}</td>
                    <td>{{ edf.doctor }}</td>
                    <td>
                        <a href="{{ edf.edf.url }}" class="btn btn-sm btn-warning"> Download </a>
                    </td>
                    <td>
                        <a href="{% url 'prediction_edf' edf.pk %}" class="btn btn-sm btn-primary"> Decision </a>
                    </td>
                    <td>
                        <a href="{% url 'preprocessing_edf' edf.pk %}" class="btn btn-sm btn-success"> Analyse </a>
                    </td>
                    <td>
                        <a href="{% url 'delete_edf' edf.pk %}" class="btn btn-sm btn-danger"> Delete </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}